.hero {
    width: 1440px;
    max-width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0 auto;
}

.hero__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero__left>h1 {
    font-weight: 500;
}

.hero__left>* {
    padding-bottom: 1rem;
}

.hero__right {
    position: relative;
    height: 100%;
    margin-top: auto;
}

.hero-bg-img {
    width: 100%;
    position: absolute;
    top: 0;
}

.hero-bg-mockup {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 748px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero__right {
        height: 70%;
    }
    .hero-bg-mockup {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .hero__left {
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 536px) {
    .hero__left {
        justify-content: flex-start;
    }
    .hero__left h1,
    p {
        text-align: center;
    }
    .hero__left p {
        line-height: 1.6rem;
    }
}


/* @media (max-width: 440px) {
    .hero-bg-mockup {
        width: 90%;
    }
} */